@mixin mobile {
  @media screen and (max-width: 430px) {
    @content;
  }
}

@mixin smallMobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin largeScreens {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

.shop {
  background-image: url(../../../assets/headerImg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10%;

  @include mobile {
    padding-top: 35%;
  }

  @include tablet {
    padding-top: 15%;
  }

  @include desktop {
    padding-top: 10%;
  }

  .filterIco {
    padding-left: 5%;

    .ico {
      font-size: 35px;
    }

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  .wrapper {
    display: flex;

    .left {
      flex: 1;
      background-color: #fff;
      display: flex;
      justify-content: center;
      position: sticky;
      height: 100vh;
      top: 10px;

      @include mobile {
        display: none;
      }
    }

    .mobileLeft {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .closeIco {
        .ico {
          font-size: 40px;
          cursor: pointer;
        }
      }

      @include smallMobile {
        .closeIco {
        }
      }

      @include mobile {
        position: absolute;
        z-index: 1000;
        width: 100%;
        top: 0;
        background-color: #fff;
        height: 100vh;
        justify-content: center;
        display: flex;
      }

      @include desktop {
        display: none;
      }
    }

    .right {
      flex: 2;
    }
  }
}
