.home {
  overflow: hidden;
  .section3 {
    background-color: #d1bbad;
  }

  .section4 {
    background-color: #eeedf2;
    overflow: hidden;
  }

  .section5 {
    background-color: #d1bbad;
  }

  .chatbot {
    position: absolute;
    right: 10px;
    margin: auto;
  }
}
