@mixin mobile {
  @media screen and (max-width: 430px) {
    @content;
  }
}

@mixin smallMobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin largeScreens {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

.contact {
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .section1 {
    height: 100vh;
    background-image: url(../../../assets/headerImg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10%;
    overflow: hidden;

    @include mobile {
      padding-top: 25%;
      height: 100%;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(90, 90, 90);
      }
    }
  }
}
