@mixin mobile {
  @media screen and (max-width: 430px) {
    @content;
  }
}

@mixin smallMobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin largeScreens {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

.newsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 40px 40px;
  gap: 10px;

  @include mobile {
    text-align: center;
    justify-content: center;
  }

  .title {
    span {
      font-size: 25px;
      font-weight: 700;

      @include mobile {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .inputBox {
    display: flex;
    align-items: center;
    background-color: #d1bbad;
    padding: 7px;
    gap: 10px;

    img {
      width: 20px;
      height: 20px;
    }

    input {
      background: none;
      border: none;
      outline: none;
      width: 400px;
      font-weight: 500;

      @include mobile {
        width: 250px;
      }

      @include smallMobile {
        width: 200px;
      }

      &::placeholder {
        color: black;
        font-weight: 600;
      }
    }

    .sendBtn {
      cursor: pointer;
    }
  }
}
